.navbarItems{
    height: 65px;
    align-items: center;
    display: flex;
    /* position: sticky; */
    background-color: rgba(255, 120, 145, 1);
}
.item-big{
    display: flex;
    
}

.nav-dropdown:focus {
    outline: none !important;
    outline-offset: none !important;
    border: 0;
}

.navbar-button {
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    padding: 0px 50px;
    background: rgba(255, 120, 145, 1);
    border: none;
    color: rgb(236, 236, 236);
    
}
.navbar-button:hover {
    color: rgb(10, 10, 10)
}
.navbar-button:focus {
    outline: none !important;
    outline-offset: none !important;
    border: 0;
}